header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  align-items: center;
  background-color: black;
  z-index: 5;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav span a {
  color: seashell;
  padding-right: 20px;
}

.main_content {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;
}
.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  justify-content: center;
}

#our_mission {
  background-color: black;
  width: 100%;
}
